<mat-card class="home" mat-elevation-z4>
    <mat-card-title class="title">Bem-vindo ao Sistema de Organização do Café da Manhã MV</mat-card-title>
    <mat-card-subtitle class="subtitle">Clique em Lista para CADASTRAR sua contribuição e informar a opção que deseja levar para o nosso café.<br> 
    Você também poderá verificar as contribuições já cadastradas.</mat-card-subtitle>
</mat-card>

<!--
<mat-card _ngcontent-nkw-c74="" class="mat-card mat-focus-indicator home mat-elevation-z4">
    <mat-card-title _ngcontent-nkw-c74="" class="mat-card-title title">Bem-vindo ao Sistema de Organização do Café da Manhã MV!</mat-card-title>
    <mat-card-subtitle _ngcontent-nkw-c74="" class="mat-card-subtitle subtitle">Clique em Lista para CADASTRAR sua contribuição e informar a opção que deseja levar para o nosso café.<br> 
        Você também poderá verificar as contribuições já cadastradas.</mat-card-subtitle>
</mat-card> 
-->